<style>
    .progress-bar {
      float: left;
      width: 0%;
      height: 100%;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-align: center;
      background-color: #7F525D;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
      -webkit-transition: width .6s ease;
      -o-transition: width .6s ease;
      transition: width .6s ease;
    }

    .navbar-inverse {
      background-color: #7F525D;
      border-color: #7F525D;
    }

    footer {
      background-color: #7F525D;
      color: white;
      padding: 15px;
    }

    .navbar-inverse .navbar-brand {
      color: white;
    }

    .inputdbactive {
      margin-top: 26px;
      margin-left: 10px;
    }

    #batchstatuscontainer tr:first-child {
      font-weight: bold;
      background-color: #7F525D;
      color: white;
    }

    #batchstatuscontainer {
      margin-top: 10px;
      margin-left: 50px;
      width: 92%;
      height: 84vh;
      overflow-y: hidden;
    }

    #batchcallstatuscontainer tr:first-child {
      font-weight: bold;
      background-color: #7F525D;
      color: white;
    }

    #batchcallstatuscontainer {
      margin-top: 10px;
      margin-left: 50px;
      width: 92%;
      height: 56vh;
      overflow-y: hidden;
    }

    .navbar {
      position: relative;
      min-height: 50px;
      margin-bottom: 0px;
      border: 1px solid transparent;
    }

    .myTable {
      width: 70%;
    }

    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #7F525D;
      width: 20px;
      height: 20px;
      -webkit-animation: spin 0.5s linear infinite;
      /* Safari */
      animation: spin 0.5s linear infinite;
      margin-bottom: 10px;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .columnhp1 {
      float: left;
      width: 50%;
    }

    .columnhp2 {
      float: right;
      width: 50%;
    }

    .columnnp1 {
      float: left;
      width: 30%;
    }

    .columnnp2 {
      float: right;
      width: 70%;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
      padding: 2px;
      line-height: 1.42857143;
      font-size: 10px;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }

    .rowp {
      width: 100%;
    }

    .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      height: 33px;
    }

    p {
      margin: -6px 0 10px;
      height: 0px;
    }

    .container-fluid-footer {
      height: 33px;
    }

    .loadingcir {
      height: 100px;
      width: 30px;
    }

    caption {
      padding-top: 8px;
      padding-bottom: 8px;
      color: #7F525D;
      ;
      text-align: left;
      font-weight: 600;
    }

    .container {
      width: 100%;
      padding: 0;
      height: 87%;
    }

    table#myTable1 tr:nth-child(4) td:nth-child(2) {
      -webkit-text-security: disc;
      /* Default */
    }

    table#myTable1 td:first-child {
      font-weight: bold;

      text-align: left;
    }

    .btn-default {
      color: white;
      background-color: #7F525D;
      border-color: #7F525D;
    }

   form {
    margin: 27px;
    box-sizing: border-box;
    border: 2px solid #7F525D;
    border-radius: 2px;
    border-spacing: 18px;
    padding: 18px;
    height: 473px;
}

    html {
      width: 100%;
      overflow-y: hidden;
    }

    input[type=checkbox],
    input[type=radio] {
      margin: -10px 56px -17px;
      margin-top: 1px\9;
      line-height: normal;
      color: #7F525D;
    }

    input,
    select,
    textarea {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      width: 210px;
      color: #7F525D;
    }

    .date{
        font-family: inherit;
        display: table-column;
      font-size: inherit;
      line-height: inherit;
      width: 80px;
      color: #7F525D;
    }

    img {
      height: 87vh;
      width: 100%;
    }

    .row {
      margin-right: -15px;
      margin-left: -15px;
      height: 87vh;
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
      color: #fff;
      background-color: #7F525D;
    }

    .column {
      float: left;
      padding-left: 10px;
      width: 100%;
      height: 87vh;
    }

    .column2 {
      float: left;
      width: 100%;
      padding-left: 0px;
      height: 87vh;
    }

    .status {
      font-weight: 400;
    }

    .logoutLblPos {
      position: fixed;
      right: 10px;
      top: 5px;
    }

    .navbar-inverse .navbar-brand {
      color: white;
    }

    label {
      color: #7F525D;
    }

    a {
      color: #7F525D;
      text-decoration: none;
    }

    .btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 2px solid;
      padding: 1px 8px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 91px;
    }

    body {
      font-family: Arial, Helvetica, Arial, sans-serif;
      font-size: 12px !important;
      line-height: 1.42857143;
      color: #7F525D !important;
      background-color: #fff;
    }

    .progress {
      margin-bottom: 15px;
      width: 83%;
    }

    .progress .progress-bar.active {
      font-weight: 700;
      animation: progress-bar-stripes .5s linear infinite;
    }

    .dotdotdot:after {
      font-weight: 300;
      content: '...';
      display: inline-block;
      width: 20px;
      text-align: left;
      animation: dotdotdot 1.5s linear infinite;
    }

    @keyframes dotdotdot {
      0% {
        content: '...';
      }
      25% {
        content: '';
      }
      50% {
        content: '.';
      }
      75% {
        content: '..';
      }
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
      padding: 2px;
      line-height: 1.42857143;
      font-size: 13px;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }

    .csvcontainer {
      width: 90%;
    }

    .tbcontainer {
      margin-top: 5px;
      height: 86vh;
      overflow-y: scroll;
    }

    .columnp1 {
      float: left;
      width: 50%;
    }

    .columnp2 {
      float: right;
      width: 50%;
    }

     .columnp3 {
      float: right;
      width: 50%;

    }
  </style>